<div class="section">
  <div class="container">
    <div class="form">
      <div class="left-side">
        <div class="content">
          <h2>Connectez-vous </h2>
          <h5>et acheter chez Burgure en toute sécurité</h5>
          <img src="https://i.ibb.co/WWnjDdG/burger1.jpg" width="300">
        </div>
        <div class="social">
          <ul class="social-icons">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
          </ul>
          <ul class="terms">
            <li>
              <a>Terms</a></li>
            <li>
              <span class="dots"></span>
            </li>
            <li>
              <a>Services</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="right-side">
        <div class="forms">
          <div class="form-inputs">
            <input type="email" placeholder="Email" autocomplete='chrome-off'> <i class="fa fa-envelope"></i>
          </div>
          <div class="form-inputs">
            <input id="password_input" class="password-input" autocomplete='chrome-off' type="password" placeholder="Password"> <i class="fa fa-eye" id="password_eye"></i>
          </div>
         <div class="submit-button"><input type="submit">
           Si vous n'avez pas de compte,<span class=" btn btn-primary">inscrivez-vous</span>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
